.carousel-inner .item img{
    margin-left: 278px;
}
#myCarousel{
    margin-top: 50px;
}
.show-blog-list{
    margin-top: 100px;
}
.find-form{
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
    width: 650px;
    height: 50px;
}
.find-form span{
    display: inline-block;
    height: 50px;
    width: 20px;

}
.find-form input{
    float: left;
    width: 480px;
    line-height: 30px;
    margin-right: 0;
}
.find-form button{
    margin-left: 0;
    display: block;
    float: left;
    width: 100px;
    height: 40px;
    line-height: 25px;
}
.table-condensed th{
    text-align: center;
    font-size: larger;
}
.table-condensed a{
    text-decoration: none;
}

/*
add_blog.html
*/
.blog_title{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.blog_abstract{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.blog_title input{
    margin: 10px auto;
    height: 40px;
    width: 100%;
}
.blog_abstract input{
    margin: 20px auto;
    height: 40px;
    width: 100%;
}